/************* Footer ****************/

.footer-title {
  font-family: "Francois One", sans-serif;
  font-size: 18pt;
}

.footer-address {
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15pt;
}

.fab {
  color: white;
}

.fab:hover {
  color: gray;
}
