/* .section-promo {
  background: url("../img/loyalty/smile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid lightgray;
  position: relative;
} */

/* .style-hr {
  width: 50%;
} */
